@import './reset.scss';
$mainColor: skyblue;
$defaultColor: #777;
$defaultBackground: #f5f5f5;

body {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background: $mainColor;
  color: #fff;
  align-items: center;
  padding: 10px 60px;
  box-shadow: 0px 0px 1px #0000006e;
  margin-bottom: 20px;
}

.header-heading {
  font-size: 20px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-list-item {
  margin: 5px;
}

.list-item-anchor {
  padding: 6px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  &:hover {
    background: #ffffff3b;
  }
}

.list-item-anchor-active {
  background: #ffffff3b;
}

.main {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-no-content {
  font-size: 32px;
  margin:60px auto;
  color: $defaultColor;
}

.title {
  font-size: 60px;
  margin: 30px 0;
  color: $mainColor;
}

.form {
  width: inherit;
}

.form-text {
  border: 0;
  outline: 0;
  background-color: inherit;
  padding: 8px 0;
  font-size: 24px;
  border-bottom: 2px solid $defaultColor;
  width: inherit;
  &:focus {
    border-bottom-color: $mainColor;
  }
}

.list {
  margin: 20px 0;
  font-size: 20px;
  width: inherit;
}

.list-item {
  display: flex;
  align-items: center;
  word-break: break-all;
  &+.list-item {
    margin-top: 10px;
  }
}

.list-item-complete {
  margin-right: 8px;
  &:checked + label {
    text-decoration: line-through;
    color: $defaultColor;
  }
}

.list-complete {
  display: none;
}

.btn {
  margin-left: 10px;
  padding: 7px 10px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  background: $mainColor;
  white-space: nowrap;
}

.state {
  display: flex;
  justify-content: space-between;
  width: inherit;
  margin: 20px 0;
}

.state-filter-list {
  display: flex;
}

.state-filter-item {
  text-decoration: none;
  color: #555;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 3px;
  &:hover {
    background: #ffffffb0;
  }
}

.news-selection {
  margin: 20px 0;
}

.news-item {
  &+.news-item {
    margin-top: 10px;
  }
}

.news-item-anchor {
  text-decoration: none;
  color: #333;
  &:hover {
    color: #0048a7;
  }
}